/*
==========================
FONT
==========================
*/
/*
==========================
COLORS
==========================
*/
/*
==========================
STYLING
==========================
*/
/*
==========================
ADMIN PORTALS
==========================
*/
/*
==========================
ADMIN BTNS
==========================
*/
/*
==========================
CARDS & TABS
==========================
*/
/*
==========================
VOYAGE CARDS
==========================
*/
/*
==========================
FORMS
==========================
*/
/*
==========================
ORIGINAL PROJECT VARIABLES
==========================
*/
.weekly-checkin-container {
  background-color: #F8F8F8;
  height: 100%; }

.weekly-checkin-title {
  font-size: 40px;
  color: #E6E6E6;
  text-transform: uppercase;
  margin-top: 70px;
  margin-bottom: 30px;
  text-align: center; }

.weekly-checkin-form {
  width: 460px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 3px 6px #E6E6E6;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 100px; }

.hline {
  width: calc(100% + 40px);
  margin-left: -20px;
  border-top: 1px solid #EFEFEF;
  margin-top: 20px; }

.weekly-checkin-btn {
  background-color: #15CF89;
  color: white;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  letter-spacing: 2px;
  text-align: center;
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 20px; }
  .weekly-checkin-btn:hover {
    background-color: #19c281; }
