@import "../abstracts/_variables.scss";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 1.5em;
  position: fixed;
  z-index: $z-header;
  width: 100%;

  &.header-dark {
    background-color: $theme-purple;
  }
}

.header-container {
  width: $max-width;
  max-width: $max-width;
  height: 50px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "l d p";
  grid-template-columns: repeat(3, 1fr);
}

.header-left {
  grid-area: l;
  align-items: start;
  float: left;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  padding-top: 11px;

  .nav-logo {
    a {
      background-color: transparent;
      text-decoration: none;
      color: color-list("accent");

      &.nav-light {
        color: color-list("text-light");
      }
    }
  }
}

.header-right {
  grid-area: p;
  display: flex;
  // align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-end;

  // Avatar
  img.avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    vertical-align: middle;
    float: right;
    z-index: $z-modal-peek;
    cursor: pointer;
    // &:hover ~ .header-dropdown-content {
    //   visibility: visible;
    // }
  }

  a {
    height: 100%;
    padding: 0 1em;
    text-decoration: none;
  }

  .header-btn {
    display: flex;
    // float: right;
    border: none;
    background-color: $theme-purple;
    color: white;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 0 1em;
    height: 100%;
    align-items: center;
    cursor: pointer;
  }

  .btn {
    @include hocus {
      background-color: $theme-green;
      color: color-list("text-light");
    }
  }

  .btn-light {
    color: color-list("text-light");

    @include hocus {
      background-color: transparent;
      color: color-list("accent");
    }
  }
}

.header-mask {
  background-color: black;
  float: right;
  width: 30%;
  height: 100px;
  position: relative;
  margin-right: -50px;
  opacity: 0;
  // visibility: visible;
  // &:hover ~ .header-dropdown-content {
  //   visibility: visible;
  // }
}
.header-portal-btn {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 70%;
  background-color: transparent;
  color: white;
  padding: 10px 0;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-bottom: 1px solid white;
  height: 35px;
  white-space: nowrap;
  span {
    width: 100%;
    margin-right: 10px;
  }
  &:hover {
    color: white;
  }
  // &:hover ~ .header-dropdown-content--centered {
  //   visibility: visible;
  // }
}

.header-dropdown {
  margin: 0 auto;
  width: 100%;
  float: right;
  padding: 2px;
  a:hover {
    background-color: $pale-purple--hover;
    color: white;
  }
}
.header-dropdown-content--centered {
  margin: 0 auto;
}
.header-dropdown-content,
.header-dropdown-content--centered {
  // visibility: hidden;
  width: 70%;
  display: block;
  background-color: white;
  box-shadow: $box-shadow-dark;
  text-align: center;
  overflow: auto;
  .label {
    color: $theme-purple;
    text-align: center;
    text-transform: uppercase;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 12px;
  }
  a {
    display: block;
    color: $dark-grey;
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
    padding: 7px 20px;
    margin: 10px;
    .label {
      color: $theme-purple;
      text-align: center;
      text-transform: uppercase;
      margin-top: 12px;
      margin-bottom: 12px;
      font-size: 12px;
    }
  }
  // &:hover {
  //   visibility: visible;
  // }
  &.avatar {
    right: 0;
    width: fit-content;
  }
  hr {
    border: 1px solid $pale-grey;
  }
}

.header-dropdown-content {
  position: relative;
  margin-top: 60px;
  float: right;
  margin-right: -30%;
}

@media only screen and (max-width: 768px) {
  .header-dropdown.portal {
    display: none;
  }
}
