* {
  outline: 1px solid orange;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 1.5em;
  position: fixed;
  z-index: 14;
  width: 100%;

  &.header-dark {
    background-color: color-list("primary");
  }
}

.header-left {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  float: left;
  font-size: 2em;
  font-weight: bold;

  .nav-logo {
    a {
      background-color: transparent;
      text-decoration: none;
      color: color-list("accent");

      &.nav-light {
        color: color-list("text-light");
      }
    }
  }
}

.header-right {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  float: right;

  // Avatar
  img.avatar {
    display: inline-block;
    width: 54px;
    height: 54px;
    margin-top: auto;
    border-radius: 100%;
    vertical-align: middle;
    &.big {
      width: 120px;
      height: 120px;
      border: 12px solid color-list("primary");
      z-index: 10;
    }
  }

  a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1em;
    text-decoration: none;
  }

  .btn {
    @include hocus {
      background-color: color-list("primary");
      color: color-list("text-light");
    }
  }

  .btn-light {
    color: color-list("text-light");

    @include hocus {
      background-color: transparent;
      color: color-list("accent");
    }
  }
}

// HEDER PORTAL DROPDOWN

.header-portal-btn {
  background-color: transparent;
  color: white;
  padding: 10px 0;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-bottom: 2px solid white;
  white-space: nowrap;
  span {
    margin: 50px;
  }
  &:hover {
    color: color-list("accent");
  }
}

.header-dropdown {
  position: relative;
  display: inline-block;
  &:hover .header-dropdown-content {
    display: block;
  }
  a:hover {
    background-color: color-list("accent");
  }
}

.header-dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 15;
  white-space: nowrap;
  a {
    color: color-list("text-dark");
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .header-dropdown {
    display: none;
  }
}
