.signup-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 300px;
  margin: 0 auto;
  border: 3px solid #15df89;
  box-shadow: 10px 10px 2px rgba(21, 223, 137, 0.4);
}

.signup-box > h1 {
  margin: 0 auto;
  padding: 0.25em 0;
  width: 100%;
  border-bottom: 3px solid #15df89;
  color: #2fd180;
  text-align: center;
}
.signup-box > h3 {
  margin: 0 auto;
  padding: 0.5em 0;
  width: 100%;
  border-bottom: 3px solid #15df89;
  color: #000;
  text-align: center;
  font-size: 0.9em;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  margin: 0 auto;
  padding: 1em;
}

.signup-form-item {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.signup-form-item > input {
  width: 100%;
  margin: 0.5em 0;
  line-height: 30px;
  font-size: 20px;
  border: 1px solid lightgray;
  text-indent: 30px;
}

.signup-form-item > i {
  position: absolute;
  left: 5px;
  color: gray;
}

.signup-form-item > input::placeholder {
  font-size: 0.9em;
}

.signup-select-box {
  position: relative;
  margin-bottom: 10px;
}

.signup-select-box > select {
  width: 100%;
  margin: 0.5em 0;
  padding: 0.2em 0;
  line-height: 30px;
  font-size: 20px;
  border: 1px solid lightgray;
  text-indent: 30px;
}

.signup-select-box > select > option {
  font-size: 0.8em;
}

.select-flag {
  position: absolute;
  left: 5px;
  bottom: 18px;
  color: gray;
}


.errorMessage {
  position: absolute;
  left: 0;
  bottom: -8px;;
  padding: 0;
  margin: 0;
  color: red;
  font-size: 0.8em;
}

.submitBtn {
  width: 100%;
  margin: 1em 0 0.5em 0;
  padding: 0.5em;
  line-height: 20px;
  background-color: #15df89;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  border: none;
}