.submitBtn {
  width: 100%;
  margin: 1em 0 0.5em 0;
  padding: 0.5em;
  line-height: 20px;
  background-color: #15df89;
  color: color-list("text-light");
  text-transform: uppercase;
  font-size: 18px;
  border: none;
}