.landing-item {
  display: block;
  margin: 0 2.5em;
  
  @include media(">large") {
    margin: 0 2.5em;
  }

  @include media(">desktop", "<=large") {
    margin: 0 1em;
  }

  @include media("<=desktop") {
    margin: 0 3em 1em 3em;
  }
  
  .landing-item-title {
    padding: 0.5em 0;
    font-size: 1.5em;
    text-transform: uppercase;
  }
  
  .landing-item-image {
    height: 200px;
    width: auto;
    @include media(">large") {
      height: 200px;
      width: auto;
    }
  
    @include media("<=large") {
      height: 180px;
      width: auto;
    }
  }
  
  .landing-item-description {
    margin: 0 auto;
    max-width: 250px;
  }
}
