@import '../abstracts/_variables.scss';

.testimonial {
  @include media(">desktop") {
    margin: 0 1.5em;
  }

  @include media("<=desktop") {
    margin: 0 3em;
  }
}

.testimonial-box {
  position: relative;
  height: 175px;
  width: 320px;
  background-color: white;
  padding: 25px;
  display: flex;
  justify-content: center;
  box-shadow: $box-shadow;
  text-align: left;
  margin-top: 50px;
  
  &:before, :after {
      position: absolute;
      top: 100%;
      left: 0;
      width: 0;
      height: 0;
      border-left: 0px solid transparent;
      content: "";
  }
  
  &:before {
      border-right: 50px solid transparent;
      border-top: 20px solid white;
      z-index:1;
  }

  .testimonial-text {
    // padding: 1em 1.5em;
    color: $dark-grey;
    font-size: 16px;
  }
}

.testimonial-lower {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  margin: 2em -1em;
  margin-bottom: 50px;
  
  .testimonial-img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 50px;
  }
  
  .testimonial-username {
    font-size: 1.2em;
  }
}
