#modal-root {
  position: relative;
}

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $z-modal;
  > * {
    margin: auto;
  }
  &.gray,
  &.grey {
    background-color: $modal-background;
  }
}

.modal-peek {
  z-index: $z-modal-peek !important;
}
