@import '../../styles/abstracts/_variables.scss';


@mixin spinner {
  border-radius: 50%;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  z-index: 1000;
}

// -- DEFAULT (LARGE)-- //
.loader-container {
    @include transparent-background;
}

.loader {
  @include spinner;
  border: 20px solid white;
  border-top: 20px solid $theme-green;
  width: 180px;
  height: 180px;
  display: block;
  top: calc(50vh - 90px);
  position: absolute;
  left: calc(50vw - 90px);
}

// -- MEIDUM -- //
.loader-medium-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: $z-middle; // Hides blow header on scroll
}

.loader--medium {
  @include spinner;
  border: 5px solid white;
  border-top: 5px solid $theme-green;
  width: 3em;
  height: 3em;
  top: calc(100% - 1.5px);
  left: calc(100% - 1.5px);
  z-index: $z-middle;
}



@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}