/*
==========================
FONT
==========================
*/
/*
==========================
COLORS
==========================
*/
/*
==========================
STYLING
==========================
*/
/*
==========================
ADMIN PORTALS
==========================
*/
/*
==========================
ADMIN BTNS
==========================
*/
/*
==========================
CARDS & TABS
==========================
*/
/*
==========================
VOYAGE CARDS
==========================
*/
/*
==========================
FORMS
==========================
*/
/*
==========================
ORIGINAL PROJECT VARIABLES
==========================
*/
.loader {
  border: 16px solid #BBBBBB;
  border-top: 16px solid #15CF89;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: block;
  margin: 0 auto;
  top: 50%; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
