@import '../../styles/abstracts/_variables.scss';

.loader-container {
    @include transparent-background;
}
.loader {
    border: 20px solid white;
    border-top: 20px solid $theme-green;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    animation: spin 2s linear infinite;
    display: block;
    margin: 0 auto;
    top: calc(50% - 90px);
    position: absolute;
    left: calc(50% - 90px);
    z-index: 1000;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}