@import '../../styles/abstracts/_variables.scss';


@mixin spinner {
  border-radius: 50%;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  border-style: solid;
  border-color: #00000000;
  border-top-color: $theme-green;
  z-index: 1000;
}


.loader__container--flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: $z-middle; // Hides blow header on scroll
}
// .loader-container {
//     @include transparent-background;
// }


// -- GLOBAL (FULLSCREEN) -- //
.loader--global {
  @include spinner;
  border-width: 20px;
  // border-top: 20px solid $theme-green;
  width: 180px;
  height: 180px;
  display: block;
  top: calc(50vh - 90px);
  position: absolute;
  left: calc(50vw - 90px);
}

// -- MEDIUM -- //
.loader--medium {
  @include spinner;
  border-width: 20px;
  width: 180px;
  height: 180px;
  // border-top: 5px solid $theme-green;
  // top: calc(100% - 90px);
  // left: calc(100% - 90px);
}

// -- MEDIUM -- //
.loader--medium {
  @include spinner;
  border-width: .66em;
  width: 6em;
  height: 6em;
  // border-top: 5px solid $theme-green;
  // top: calc(100% - 3em);
  // left: calc(100% - 3em);
} 

// -- SMALL-- //
.loader--small {
  @include spinner;
  border-width: .33em;
  width: 3em;
  height: 3em;
  // border-top: 5px solid $theme-green;
  // top: calc(100% - 1.5px);
  // left: calc(100% - 1.5px);
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}