@import '../../styles/abstracts/_variables.scss';

.voyage-portal {
  max-width: $max-width;
  margin: 0 auto;

  > h1 {
    padding-top: 100px;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    color: #E6E6E6;
    text-transform: uppercase;
  }
}

.voyage-section {
  margin-bottom: 55px;

  > p:first-child {
    color: $grey;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0px;
    margin-left: 5px;
  }
}

.voyage-card-list {
  width: $max-width;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

/*
==========================
MEDIA QUERY
==========================
*/
@media (max-width: 1180px) {
  .voyage-section {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 55px;
  }
  .voyage-card-list {
    width: 100vw;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}