.landing {
  position: relative;
}

.landing-top {
  position: relative;
  height: 94vh;
  background-color:#0f143a;
  /* background: url("../../styles/assets/earth.jpg") no-repeat center center; */
  color: white;
}

.landing-img {
  position: absolute;
  top: 30%;
  right: 0;
  height: 70%;
  width: auto;
}

.tagline-box {
  position: absolute;
  left: 150px;
  top: 40%;
  text-align: right;
  text-transform: uppercase;
}

.tagline {
  font-size: 3em;
}

.big-green-btn {
  margin: 1em 0;
  padding: 0.5em 1em;
  width: 200px;
  border-radius: 10px;
  background-color: #15df89;
  color: #FFF;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}

.landing-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0;
  text-align: center;
}

.landing-bar-title {
  margin: 0 auto;
  padding: 1.7em 0;
  color: #15df89;
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
}

.landing-bar-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 2em 0;
}

.cohorts-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0;
  width: 100%;
  text-align: center;
}

.cohorts-bar-title {
  margin: 0 auto;
  padding: 0.5em 0;
  width: 100%;
  background-color: #0f143a; 
  color: #FFF;
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
}

.cohorts-bar-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 2em 0;
  background-color: #707399;
  color: #FFF;
}
.projects-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0;
  width: 100%;
  text-align: center;
}

.projects-bar-title {
  margin: 0 auto;
  padding: 0.5em 0;
  width: 100%;
  background-color: #0a7e4b; 
  color: #FFF;
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
}

.projects-bar-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 2em 0;
  background-color: #15df89;
  color: #FFF;
}

.landing-item {
  display: block;
  margin: 0 2.5em;
}

.landing-item-title {
  padding: 0.5em 0;
  font-size: 1.5em;
  text-transform: uppercase;
}

.landing-item-image {
  height: 200px;
  width: auto;
}

.landing-item-description {
  margin: 0 auto;
  max-width: 250px;
}