@import "styles/abstracts/_variables.scss";

/*
==========================
Text Styling
==========================
*/
// H1
.landing--header {
  font-size: 44px;
  font-weight: 800;
  text-transform: capitalize;
  line-height: 56px;
}
// H2
.landing--subheader {
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
}
// H3
.landing--description {
  font-size: 24px;
  font-weight: 400;
}
// H4
.landing--minor {
  font-size: 24px;
  color: $grey;
  text-transform: capitalize;
  font-weight: 800;
  // margin-bottom: -20px;
}
// H5
.landing--h5 {
  font-size: 21px;
  text-transform: capitalize;
  font-weight: 700;
}
// H6
.landing--subtext {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 400;
}
/*
==========================
Landing Container
==========================
*/
.landing-page--container {
  margin-top: 60px;

  color: $darker-grey;
}
