.profile {
  margin: 0 auto;
  margin-top: 3em;
  max-width: 1000px;
}

.profile-top {
  display: flex;
  flex-direction: row;
  border: 1px solid lightgray;
  max-height: 250px;
}

.profile-bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2em 3em;
  text-align: left;
  font-size: 0.9em;
}

.profile-bio > h1 {
  margin: 0;
}

.profile-links {
  padding-top: 1em;
}

.profile-links > a {
  margin-right: 1em;
  text-decoration: none;
  font-weight: bold;
  color: #15df89;
}

.profile-links > a:hover, a:focus {
  color: #1ece82;
}


.profile-img {
  max-height: 250px;
  max-width: 250px;
}

.profile-bottom {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  text-align: left;
}

.profile-bottom-left {
  width: 65%;
  padding: 2em;
  border: 1px solid lightgray;
}

.profile-bottom-right {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 2em;
  border: 1px solid lightgray;
}

.section-header {
  font-size: 1.3em;
  color: grey;
  font-weight: bold;
}

.profile-skills-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1em 0;
}

.profile-skills {
  margin: 0.25em;
  padding: 0.5em 1em;
  color: white;
  background-color: gray;
}