/*
==========================
FONT
==========================
*/
/*
==========================
COLORS
==========================
*/
/*
==========================
STYLING
==========================
*/
/*
==========================
ADMIN PORTALS
==========================
*/
/*
==========================
ADMIN BTNS
==========================
*/
/*
==========================
CARDS & TABS
==========================
*/
/*
==========================
VOYAGE CARDS
==========================
*/
/*
==========================
FORMS
==========================
*/
/*
==========================
ORIGINAL PROJECT VARIABLES
==========================
*/
.voyage-application-container {
  background-color: #F8F8F8; }

.voyage-application {
  width: 460px;
  background-color: white;
  border-radius: 20px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 100px;
  box-shadow: 0px 3px 6px #E6E6E6; }
