/*
==========================
FONT
==========================
*/
/*
==========================
COLORS
==========================
*/
/*
==========================
STYLING
==========================
*/
/*
==========================
ADMIN PORTALS
==========================
*/
/*
==========================
ADMIN BTNS
==========================
*/
/*
==========================
CARDS & TABS
==========================
*/
/*
==========================
VOYAGE CARDS
==========================
*/
/*
==========================
FORMS
==========================
*/
/*
==========================
ORIGINAL PROJECT VARIABLES
==========================
*/
/*
==========================
CONTAINER
==========================
*/
.voyage-application-container {
  background-color: #F8F8F8; }

.voyage-application {
  width: 460px;
  background-color: white;
  border-radius: 20px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 3px 6px #E6E6E6;
  margin-bottom: 100px; }

/*
==========================
FORM PROGRESS BAR
==========================
*/
.voyage-application-progress {
  width: 100px;
  height: 15px;
  background-color: white;
  box-shadow: 0px 3px 6px #E6E6E6;
  position: relative;
  display: inline-block;
  float: right;
  margin-top: -25px; }

.voyage-application-progress-bar {
  height: 15px;
  background-color: #15CF89; }

/*
==========================
PAGE TITLE
==========================
*/
.voyage-application-title {
  font-size: 40px;
  color: #E6E6E6;
  text-transform: uppercase;
  margin-top: 70px;
  margin-bottom: 30px;
  text-align: center; }

/*
==========================
FORM TITLE
==========================
*/
.voyage-application-subtitle {
  color: #BBBBBB;
  background-color: #F8F8F8;
  width: calc(100% + 40px);
  margin-left: -20px;
  padding: 5px;
  padding-left: 20px;
  display: inline-block;
  text-transform: uppercase; }

/*
==========================
BUTTONS
==========================
*/
.voyage-application-btn-container {
  display: grid;
  grid-template-areas: "a b";
  grid-template-columns: repeat(2, 1fr); }

.voyage-appliation-btn--green,
.voyage-appliation-btn--grey {
  color: white;
  font-size: 20px;
  text-align: center;
  border: none;
  box-shadow: 0px 3px 6px #E6E6E6;
  padding: 5px;
  width: 150px;
  border-radius: 20px;
  display: inline-block;
  position: relative;
  margin-top: 15px; }

.voyage-appliation-btn--green {
  grid-area: b;
  justify-self: end;
  background-color: #15CF89; }

.voyage-appliation-btn--grey {
  grid-area: a;
  justify-self: start;
  background-color: #E6E6E6; }

/*
==========================
HORIZONTAL LINE
==========================
*/
.hline {
  width: calc(100% + 40px);
  margin-left: -20px;
  border-top: 1px solid #EFEFEF;
  margin-top: 20px; }

/*
==========================
NEW USER NOTICE
==========================
*/
.new-user-application-notice {
  display: block;
  position: absolute;
  width: 180px;
  border-radius: 20px;
  background-color: white;
  color: #BBBBBB;
  font-size: 12px;
  padding: 15px;
  box-shadow: 0px 3px 6px #E6E6E6;
  margin-left: 450px;
  margin-top: -53px; }

.new-user-application-notice-title {
  margin-top: 7px;
  text-align: center;
  background-color: #e9d2d2;
  color: white;
  width: calc(100% + 30px);
  margin-left: -15px;
  text-transform: uppercase;
  padding: 6px;
  margin-bottom: 8px; }

/*
==========================
MEDIA QUERY
==========================
*/
@media (max-width: 850px) {
  .new-user-application-notice {
    display: none; } }
