@import '../../styles/abstracts/_variables.scss';

/*
==========================
PROJECT CARDS
==========================
*/
.project-card__container {
  width: 100%;
  box-shadow: $box-shadow;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "image info info";
  background-color: white;
}
.project-img-container {
  grid-area: image;
  background-color: $theme-green--lighter;
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}
.project-img-text {
  color: $theme-green;
  display: block;
  position: relative;
  margin: 0 auto;
  z-index: 5;
  width: 100%;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-top: -40px;
}
.project-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}

.project-info__container {
  grid-area: info;
  font-size: 14px;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
  align-items: center;
  justify-items: start;
}

.project-info__label {
  grid-column: 1 / 2;
  font-size: 14px;
  color: $lighter-grey;
  text-transform: uppercase;
  align-self: start;
}

.project-info__data {
  grid-column: 2 / -1;
  font-size: 14px;
  color: $dark-grey;
  max-height: 100px;
  align-items: start;
  min-height: 28px;
  text-align: left;
}

.tier-icon {
  font-size: 12px;
  text-transform: uppercase;
  color: $health-green;
  border: 1px solid $health-green;
  padding: 3px 7px;
  margin: 2px auto;
}
@media (max-width: 1020px) and (min-width: 0px) {
  .project-card__container {
    margin: 0 auto;
    max-width: 500px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "image" "info";
    margin-bottom: 20px;
  } 
}
@media (max-width: 500px) and (min-width: 0px) {
  .project-card__container {
    width: 90vw;
  } 
}