@import '../../styles/abstracts/_variables.scss';

.error-page-container {
    position: absolute;
    z-index: 200;
    background-color: $palest-grey;
    width: 100%;
    height: 100%;
}
.error-page-modal {
    z-index: 210;
    width: 460px;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: $dark-grey;
    font-size: 20px;
    background-color: white;
    box-shadow: $box-shadow;
    position: absolute;
    border-radius: 20px;
    left: calc(50% - 230px);
    top: 100px;
    padding: 20px;
}
.error-message {
    text-align: center;
    font-size: 20px;
    color: $dark-grey;
}

.error-img {
    width: 200px;
    height: 200px;
    margin-top: 40px;
}

.error-hline {
    border-top: 1px solid $light-grey;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-top: 40px;
}

.error-go-back-btn  {
    border: none;
    display: block;
    margin: 0 auto;
    padding: 10px;
    background-color: $theme-green;
    color: white;
    border-radius: 20px;
    width: 160px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.error-go-back-btn > a  {
    text-decoration: none;
}