//----------------------------------
//    Application-wide Variables
//----------------------------------

/*
==========================
FONT
==========================
*/
/// @type List
$base-font-family: "Open Sans", "Helvetica Neue", "Raleway", sans-serif;
$base-font-size: 14px;
$portal-title-size: 40px;
$portal-subcategory-size: 24px;
$base-font-weight: 400;
/*
==========================
COLORS
==========================
*/
$theme-purple: #080a38;
$theme-purple--hover: rgb(7, 8, 44);
$light-purple: #71739b;
$light-purple--hover: rgb(102, 104, 139);
$pale-purple--hover: rgb(206, 206, 224);
$theme-green: #15cf89;
$theme-green--hover: rgb(25, 194, 129);
$theme-green--light: #78d5b2;
$theme-green--lightest: rgb(233, 247, 242);
$theme-green--palest: #def0e9;

$darkest-grey: #333333;
$darker-grey: #4f4f4f;
$dark-grey: #7f7f7f;
$med-grey: rgb(158, 158, 158);
$grey: #bbbbbb;
$lighter-grey: #D9D9D9;
$light-grey: #e6e6e6;
$pale-grey: #efefef;
$palest-grey: #f8f8f8;

$attention-red: #f37070;
$attention-red--light: #efb0b0;

$health-green: #22b571;
$health-yellow: #ffcc00;
$health-yellow--light: #FFFAB7;
$health-red: #ef8585;
$health-red--light: #FCC4C4;

$badge-1: #f5e3a1;
$badge-1--hover: rgb(245, 219, 126);
$badge-2: #caeb95;
$badge-2--hover: rgb(181, 219, 121);
$badge-3: #f1ba65;
$badge-3--hover: rgb(236, 172, 75);

$modal-background: rgba(158, 158, 158, 0.637);

$transparent-background: rgba(158, 158, 158, 0.637);
@mixin transparent-background {
  background-color: $transparent-background;
  display: block;
  position: fixed;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 100;
  top: 0px;
  left: 0px;
  bottom: 0px;
}

@mixin modal--solid-background {
  position: absolute;
  z-index: 200;
  background-color: $palest-grey;
  width: 100%;
  height: 100%;
  min-height: 100%;
  top: 0px;
  left: 0px;
}
/*
==========================
STYLING
==========================
*/
$page-padding: 20px;
$box-shadow: 0px 3px 6px $light-grey;
$box-shadow-dark: 0px 3px 6px $dark-grey;
$border: 1px solid $light-grey;
$border-radius: 20px;
/*
==========================
Z-INDEXES
==========================
*/
$z-modal-peek: 500;
$z-modal: 400;
$z-dropdown: 200;
$z-header: 14;
$z-middle: 10;
$z-default: 1;
$z-below: -1;
/*
==========================
PORTALS
==========================
*/
@mixin portal-title {
  color: $light-grey;
  font-size: $portal-title-size;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

@mixin portal-subcategory {
  color: $lighter-grey;
  font-size: $portal-subcategory-size;
  text-align: left;
  text-transform: uppercase;
  font-weight: 300;
}

@mixin portal-description {
  color: $dark-grey;
  font-size: $base-font-size;
  text-align: left;
}
/*
==========================
CARDS
==========================
*/
@mixin card {
  margin: 5px;
  padding: 20px;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  align-items: center;
  justify-content: space-around;
  color: $dark-grey;
  background-color: white;
}

@mixin voyage-card($color) {
  @include card;
  color: $theme-purple;
  width: 500px;
  height: 300px;
  display: inline-flex;
  background: $color;
}

@mixin voyage-card--admin-actions($color) {
  @include voyage-card($color);
  border-radius: 20px 20px 0px 0px;
}

@mixin form-card {
  @include card;
  width: 460px;
  margin: 0 auto;
  margin-bottom: 100px;
}

@mixin form-card--left {
  @include card;
  display: inline-block;
  width: 460px;
  margin-bottom: 100px;
}
@mixin form-card--right {
  @include card;
  display: inline-block;
  width: 300px;
  margin-bottom: 100px;
}
/*
==========================
VOYAGE CARDS
==========================
*/
@mixin voyage-badge($border-color) {
  width: 204px;
  height: 204px;
  border-radius: 50%;
  border: 15px solid $border-color;
  color: $theme-purple;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
==========================
MAIN BUTTONS
==========================
*/
@mixin system-button($background, $hover) {
  width: 150px;
  font-size: 14px;
  background-color: $background;
  color: white;
  text-transform: uppercase;
  border-radius: $border-radius;
  padding: 10px;
  letter-spacing: 0.1em;
  text-align: center;
  border: none;
  display: block;
  box-shadow: $box-shadow;
  &:hover {
    background-color: $hover;
  }
}

@mixin system-button--sub($accent-color, $hover) {
  width: 150px;
  font-size: 14px;
  background-color: white;
  color: $accent-color;
  text-transform: uppercase;
  border-radius: $border-radius;
  padding: 10px;
  letter-spacing: 0.1em;
  text-align: center;
  border: 1px solid $accent-color;
  display: block;
  box-shadow: $box-shadow;
  &:hover {
    background-color: $hover;
  }
}
/*
==========================
FORMS
==========================
*/
@mixin form-label {
  color: $light-grey;
  text-transform: uppercase;
  font-size: 12px;
  text-align: left;
}

@mixin form-input {
  border: 1px solid $light-grey;
  padding: 5px;
  color: $dark-grey;
  font-size: 14px;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

@mixin form-title {
  font-size: 40px;
  color: $grey;
  text-transform: uppercase;
  margin-top: 120px;
  margin-bottom: 30px;
  text-align: center;
}

@mixin hline {
  width: calc(100% + 40px);
  margin-left: -20px;
  border-top: 1px solid $pale-grey;
  margin-top: 20px;
}

/*
==========================
NEWSFEED CARDS
==========================
*/
@mixin newsfeed-card {
  padding: 20px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 20px;
  text-transform: none;
  margin-bottom: 20px;
}
@mixin newsfeed-card--icon {
  width: 40px;
    height: 40px;
    grid-column: 1 / 2;
    margin: 0 auto;
    align-self: center;
}

@mixin newsfeed-card-text-container {
  grid-column: 2 / -1;
}

@mixin newsfeed-card-text {
  font-size: 14px;
    line-height: 28px;
}
/*
==========================
ORIGINAL PROJECT VARIABLES
==========================
*/
/// Color Map
/// @type List
$color-list: (
  "primary": #0f143a,
  "accent": #15df89,
  "emphasis": #707399,
  "borders": #d3d3d3,
  "text-light": #ffffff,
  "text-dark": #000000,
  "text-muted": #767676
);

/// Z-indexes
/// @type List

$z-indexes: (
  "modal-peek": 500,
  "modal": 400,
  "dropdown": 200,
  "header": 14,
  "default": 1,
  "below": -1
);

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: "/assets/" !default;
