@import '../../styles/abstracts/_variables.scss';

// * {
//   outline: 2px solid orange; // TODO: remove
// }

// UTILITIES // 
@mixin center-align {
  display: flex;
  justify-content: center;
  align-items: center;
}


.hl {
  border: 1px solid #E6E6E6;
}

// CONTAINERS //
.view-container {
  // background-color: steelblue;
  margin: 0 auto;
  width: 100%;
  max-width: 1180px;
}

.portal-container {
  display: flex;
  justify-content: space-around;
  margin: 100px auto;
}

// PANELS //
@mixin panel {
  margin: 20px;
  border-radius: 20px; 
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  padding: 2em;
  
  // TODO remove
  min-height: 500px;
}

.portal-panel__sidebar {
  @include panel;
  flex: 1 3 360px;
  min-width: 150px;
  max-width: 360px;
  padding: 2em 0;
}

.portal-panel__feed {
  @include panel;
  flex: 1 2 720px;
  max-width: 720px;
  .hl {
    margin: 0 -2em;
  }
}

.sidebar-userinfo__container {
  @include center-align;
  padding: 2em;
  flex-direction: column;
  flex-wrap: nowrap;
}

.sidebar-userinfo__avatar {
  border-radius: 50%;
}

.sidebar-userinfo__username {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;
  color: #757575;
  padding: 6px;
}