@import '../../styles/abstracts/_variables.scss';

// * {
//   outline: 2px solid orange; // TODO: remove
// }

@mixin center-align {
  display: flex;
  justify-content: center;
  align-items: center;
}


.hl {
  border: 1px solid #E6E6E6;
  margin: 0;
  padding: 0;
}

.title {
  font: 400 20px "open sans", sans-serif;
  color: #D9D9D9;
  margin-bottom: 1em;

}

// CONTAINERS //
.view-container {
  // background-color: steelblue;
  margin: 0 auto;
  width: 100%;
  max-width: 1180px;
}

.portal-container {
  display: flex;
  justify-content: space-around;
  margin: 100px auto;
}

// PANELS //
@mixin panel {
  border-radius: 20px; 
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  padding: 2em;
}

.sidebar-container {
  margin: 20px;
  flex: 1 3 360px;
  min-width: 150px;
  max-width: 300px;
}

.main-container {
  margin: 20px;
  flex: 1 2 720px;
  max-width: 720px;
}

.portal-panel__sidebar {
  @include panel;
  padding: 2em 0;
}

.portal-panel__feed {
  @include panel;
  .hl {
    margin: 0 -2em;
  }
}

.sidebar-userinfo__container {
  @include center-align;
  padding: 2em;
  flex-direction: column;
  flex-wrap: nowrap;
}

.sidebar-userinfo__avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.sidebar-userinfo__username {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;
  color: $dark-grey;
  padding: 6px;
}

// SIDEBAR ITEMS // 
@mixin sidebar-item {
  font: 18px 400 "open sans", sans-serif;
  line-height: 3em;
  padding-left: 1em;
}

.sidebar-nav__btn {
  @include sidebar-item;
  color: $theme-green;
  cursor: pointer;
  &.active {
    background-color: #DAF8ED;
  }
}

.sidebar-nav__label {
  @include sidebar-item;
  font-weight: 700;
  color: #5A5A5A
}

.sidebar-nav__btn-icon {
  width: 35px;
  height: 30px;
  object-fit: cover;
}