.dashboard {
  display: flex;
  flex-direction: column;
  background-color: mix(color-list("text-light"), color-list("primary"), 85%);
  min-height: 80vh;

  .dashboard-header {
    // background-color: mix(color-list("text-light"), color-list("accent"), 50%);
    background-color: color-list("accent");
    color: color-list("text-light");
    text-align: center;

    h2 {
      margin: 0.3rem 0;
      padding: 0;
    }
  }

  .dashboard-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5em;

    .dashboard-sidebar {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 25%;
      padding: 0 2rem;

      .dashboard-img {
        height: 150px;
        width: 150px;
      }

      .dashboard-name {
        margin: 1rem 0;
        font-size: 1.2rem;
        font-weight: 700;
      }

      .dashboard-option {
        width: 100%;
        padding: 0.75rem 1rem;
        text-align: left;
        border-bottom: 1px solid color-list("primary");
        cursor: pointer;
        color: color-list("text-dark");
        text-decoration: none;

        &:hover {
          background-color: color-list("primary");
          color: white;
          // box-shadow: 2px 2px 5px color-list("borders");
        }

        // Not a fan of this.
        // &.current {
        //   background-color: mix(
        //     color-list("text-light"),
        //     color-list("accent"),
        //     50%
        //   );
        // }
      }
    }

    .dashboard-body {
      min-height: 60vh;
      width: 75%;
      padding: 0 1.5em 2.5em 1.5em;
      margin: 0 1em;
      background-color: color-list("text-light");
      box-shadow: 5px 5px 10px color-list("borders");

      .dashboard-body-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2.5em;
        border-bottom: 1px solid color-list("primary");

        h3 {
          margin: 0.5em 0 0.5em 0;
          padding: 0;
        }
      }
      .dashboard-body-item {
        display: flex;
        flex-direction: row;
        padding-top: 1em;

        .dashboard-body-left {
          width: 25%;
        }

        .dashboard-body-right {
          width: 75%;
        }
      }
    }
  }
}

/* ----- Edit Modal ----- */
.modal-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: z-index("modal");
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(121, 121, 121, 0.6);
  height: 100%;
  width: 100%;
  z-index: z-index("overlay");
}

.edit-modal {
  position: relative;
  margin: 0 auto;
  min-height: auto;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border: none;
  z-index: z-index("modal");
  animation: slideInTop 0.75s ease both;

  @include media ("<=small") {
    width: 100%;
  }

  form {
    height: 100%;
  }

  .edit-modal-header {
    border-bottom: 1px solid color-list("borders");
    font-size: 1.3em;
    text-align: center;

    h3 {
      padding: 1.5em 0 0 0;
      margin: 0;
    }
  }

  .edit-modal-body {
    padding: 1em 2em;
    display: flex;
    flex-direction: column;

    .edit-modal-item {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 1em 0;

      &.textarea {
        align-items: flex-start;
      }

      .edit-modal-left {
        width: 30%;
      }

      .edit-modal-right {
        position: relative;
        width: 70%;

        input {
          position: relative;
          padding: 0.5em;
          outline: none;
          width: 100%;
        }

        textarea {
          position: relative;
          padding: 0.5em;
          margin-bottom: 1em;
          width: 100%;
          outline: none;
          resize: none;
        }
      }
    }
  }
  .edit-modal-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 2em 2em 2em;
  }
}

@keyframes slideInTop {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(100px);
  }
}

/* ----- /Edit Modal ----- */
