@import "../abstracts/_variables.scss";

.landing {
  position: relative;

  .landing-top {
    position: relative;
    background-color: $theme-purple;
    color: white;
    width: 100vw;
    max-width: 100%;

    .landing-img {
      display: block;
      position: relative;
      height: auto;
      width: 100vw;
      max-width: 1180px;
      margin: 0 auto;
      max-width: 100%;

      @include media("<=small") {
        display: none;
      }
    }

    .tagline-box {
      padding-top: 100px;
      z-index: 10;
      position: relative;
      text-align: center;
      display: block;
      margin: 0 auto;
      bottom: -50px;
      letter-spacing: 2px;
      width: 700px;
      max-width: 90%;

      @media (min-width: 750px) {
        padding-bottom: 40px;
      }
      @media (max-width: 749px) {
        padding-bottom: 60px;
      }
      @include media("<=small") {
        padding-bottom: 200px;
      }

      .tagline {
        font-weight: 600;
        letter-spacing: 3px;
        @media (min-width: 950px) {
          font-size: 2em;
        }
        @include media(">small") {
          font-size: 1.8em;
        }

        @include media("<=small") {
          font-size: 2em;
        }
      }
      .tagline--subtext {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 20px;
        @media (min-width: 950px) {
          font-size: 1.3em;
        }
        @include media(">small") {
          font-size: 1.2em;
        }

        @include media("<=small") {
          font-size: 14px;
        }
      }

      .big-green-btn {
        margin: 1em 0;
        padding: 0.5em 1em;
        width: 200px;
        border-radius: 20px;
        background-color: color-list("accent");
        color: color-list("text-light");
        font-size: 1.5em;
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        outline: none;
        cursor: pointer;
      }
    }
  }

  .landing-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0;
    text-align: center;

    .landing-bar-title {
      margin: 0 auto;
      padding: 0.5em 0;
      width: 100%;
      color: $dark-grey;
      font-size: 1.4em;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    .landing-bar-items {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      color: $dark-grey;
      width: 100%;
      padding: 2em 0;
      @include media("<=desktop") {
        flex-wrap: wrap;
      }
    }
  }

  .cohorts-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin: 2em 0;
    width: 100%;
    text-align: center;

    .cohorts-bar-title {
      margin: 0 auto;
      padding: 0.5em 0;
      width: 100%;
      background-color: $grey;
      color: white;
      font-size: 1.4em;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    .cohorts-bar-subtitle {
      background-color: $palest-grey;
      width: 100%;
      margin: 0 auto;
      padding-top: 50px;
      font-size: 1.4em;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: $dark-grey;
    }

    .cohorts-bar-items {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      padding: 2em 0;
      background-color: $palest-grey;
      color: $dark-grey;
      @include media("<=desktop") {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }
    }
  }

  .projects-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0;
    width: 100%;
    text-align: center;

    .projects-bar-title {
      margin: 0 auto;
      padding: 0.5em 0;
      width: 100%;
      background-color: $grey;
      color: white;
      font-size: 1.4em;
      font-weight: bold;
      text-transform: uppercase;
    }

    .projects-bar-items {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      padding: 2em 0;
      background-color: $palest-grey;
      color: $dark-grey;
      @include media("<=desktop") {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }
    }
  }

  .chingu-bar {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: $max-width;
    width: 100%;
    text-align: center;
    @media(max-width: 1180px) {
      text-align: center;
      align-items: center;
    }

    .chingu-bar-box {
      padding: 6em;
      @include media("<=desktop") {
        padding: 0;
      }

      .chingu-bar-title {
        font-size: 40px;
        margin: 0;
        font-weight: bold;
        color: $dark-grey;
      }

      .chingu-green-btn {
        margin: 1em 0;
        padding: 0.5em 1em;
        width: 200px;
        border-radius: 10px;
        background-color: color-list("accent");
        color: color-list("text-light");
        font-size: 1.5em;
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        outline: none;
        cursor: pointer;
      }
    }
  }
}
