.login {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 80vh;
  width: 100%;
  
  .login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 300px;
    margin: 0 auto;
    background-color: #FFF;
    border: 3px solid #15df89;
    box-shadow: 10px 10px 2px rgba(21, 223, 137, 0.6);
  }
  
  h1 {
    margin: 0 auto;
    padding: 0.25em 0;
    width: 100%;
    border-bottom: 3px solid #15df89;
    color: #2fd180;
    text-align: center;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
    padding: 1em;
  }
}




