.profile {
  margin: 0 auto;
  margin-top: 3em;
  max-width: 1000px;

  .profile-top {
    display: flex;
    flex-direction: row;
    border: 1px solid color-list("text-muted");
    max-height: 250px;
    background-color: color-list("text-light");

    .profile-img {
      max-height: 250px;
      max-width: 250px;
    }

    .profile-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 750px;
      padding: 2em 3em;
      text-align: left;
      font-size: 0.9em;

      h1 {
        margin: 0;
      }

      .profile-links {
        padding-top: 1em;

        a {
          margin-right: 1em;
          text-decoration: none;
          font-weight: bold;
          color: color-list("accent");

          @include hocus {
            color: color-list("primary");
          }
        }
      }
    }
  }

  .profile-bio {
    min-height: 100px;
    padding: 1em;
    border: 1px solid color-list("text-dark");
    border-top: none;
    text-align: left;

    p {
      margin: 0;
    }
  }

  .profile-bottom {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: left;
    background-color: color-list("text-light");
    border: 1px solid color-list("text-muted");

    .profile-section {
      padding: 2em;

      &.profile-bottom-left {
        width: 65%;
      }

      &.profile-bottom-right {
        display: flex;
        flex-direction: column;
        width: 35%;
      }

      .section-header {
        margin-bottom: 0.5em;
        font-size: 1.3em;
        color: color-list("text-dark");
        font-weight: 700;
      }

      .profile-skills-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 1em 0;

        .profile-skills {
          margin: 0.25em;
          padding: 0.5em 1em;
          color: color-list("text-light");
          background-color: color-list("text-muted");
        }
      }
    }
  }
  .under-construction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6em 0;
    text-align: center;
    background-color: color-list("text-light");
    height: 250px;
  }
}

/* ----- ProjectDisplay ----- */

.project-display {
  display: flex;
  flex-direction: row;
  border: 1px solid color-list("text-dark");

  .project-display-left {
    width: 40%;

    img {
      height: auto;
      width: 200px;
    }
  }

  .project-display-right {
    width: 60%;

    .project-display-title {
      margin-top: 0.5em;
      font-size: 1.3em;
      font-weight: 700;
    }

    .project-display-links {
      display: flex;
      flex-direction: row;
      margin: 0.5em 0;

      a {
        margin-right: 1em;
        color: color-list("accent");
        font-weight: 700;
        text-transform: capitalize;
      }

      span {
        margin-right: 1em;
      }
    }

    .project-display-desc{
      width: 100%;
      text-align: left;
      margin: 0.5em 0;
    }
  }
}

/* ----- /ProjectDisplay ----- */

/* ----- CohortDisplay ----- */

.cohort-display {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid color-list("text-dark");

  .cohort-display-title {
    font-size: 1.1em;
    font-weight: 700;
  }

  .cohort-display-stats {
    font-size: 0.9em;
    color: color-list("text-muted")
  }
}

/* ----- /CohortDisplay ----- */