@import '../abstracts/variables';

.project-portal {
  // TODO: Remove header positioning property
  padding-top: 64px + 21px; // to account for header
  max-width: 1080px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.project-portal__banner {
  width: 100vw;
  grid-column: 1 / -1;
  transform:translateY(-21px); // to account for header
  justify-self: center;
  text-align: center;
  color: #ffffff;
  min-height: 200px;
  padding-top: 25px;
  background: linear-gradient(to right , #3b3c62,#74d6b1);
}

.project-portal__toolbar {
  grid-column: 1 / -1;
  justify-self: end;
  a {
    margin-left: 15px;
    text-decoration: none;
    border-radius: 20px;
    padding: 5px 10px;
    color: #ffffff;
    background-color: $light-purple;
  }
  span {
    margin-right: 0.5em;
  }
}

.project-portal__preview {
  grid-column: 1 / -1;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  max-height: 60vh;
  overflow-y: auto;
}

.project-portal__about {
  grid-column: 1 / -1;
}


.project-portal__team {
  grid-column: 1 / -1;
  ul {
    padding: 0;
  }
  li {
    display: inline-block;
    margin-right: 15px;
  }
}

.project-portal__profile {
  grid-column: 1 / -1;
  img {
    border-radius: 50%;
  }
}

.project-portal__external-links {
  grid-column: 1 / -1;
}

.project-portal__edit-form {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    padding: 20px 50px;
    width: 540px;
    background: white;
  }

  div {
    margin-bottom: 20px;
  }

  h2 {
    text-transform: uppercase;
    margin: 0;
    font-size: 0.9em;
    font-weight: 400;
    color: $med-grey;
  }

  textarea {
    width: 100%;
    border: 1px solid $light-grey;
    color: $darker-grey;
    min-height: 100px;
  }

  input {
    width: 100%;
    border: 1px solid $light-grey;
    color: $darker-grey;
  }
}