.staff {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .staff-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin: 2%;

    @include media("<medium") {
      width: 210px;
    }

    @include media("<=desktop") {
      width: 300px;
    }
    @include media("<tablet") {
      width: 250px;
    }

    a {
      padding: 1em;
      img{
        height: 200px;
        width: 200px;
        border-radius: 100%;
        object-fit: cover;

        @include media("<desktop"){
          height: 200px;
          width: 200px;
        }

        @include media("<tablet"){
          height: 180px;
          width: 180px;
        }
      }
    }
    .staff-desc{
      text-align: center;
      h3 {
        margin: 0;
        font-size: 1.5rem;
        font-weight: 700;
        @include media("<tablet"){
          font-size: 1.2rem;
        }
      }
      h4 {
        margin: 0.5rem;
        font-weight: 400;
      }
      
    }
  }
}

.contributors {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .contributor-item {
    display: flex;
    flex-direction: row;
    @include media("<small"){
      flex-direction: column;
      text-align: center;
      margin-bottom: 0.7em;
    }

    .contributor-name {
      width: 300px;
      a {
        color: color-list("primary");
      }

      @include media("<tablet"){
        width: 250px;
      }
      @include media("<small"){
        width: 100%;
        text-align: center;
      }
    }

    .contributor-desc {
      text-align: right;
      width: 300px;

      @include media("<tablet"){
        width: 250px;
      }
      @include media("<small"){
        width: 100%;
        text-align: center;
      }
    }
  }
}