.staff {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .staff-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    margin: 2%;

    a {
      padding: 1em;
      img{
        height: 250px;
        width: 250px;
        border-radius: 100%;
        object-fit: cover;
      }
    }
    .staff-desc{
      text-align: center;
      h3 {
        margin: 0;
        font-size: 1.5rem;
        font-weight: 700;
      }
      h4 {
        margin: 0.5rem;
        font-weight: 400;
      }
      
    }
  }
}