@import '../abstracts/variables';

//TODO: use variables and mixins where possible

.user-profile-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px 100px;
  grid-gap: 5px 50px;
}

.user-profile {
  grid-column: 1 / 2;
}

.user-voyages {
 grid-column: 2 / 4;
 justify-self: center;
}

.user-voyage {

  > p {
    color: #D9D9D9;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300;
  }
}