@charset 'UTF-8';  

//1. Abstract
@import
	'abstracts/variables',
	'abstracts/functions',
	'abstracts/mixins',
	'abstracts/placeholders';

//2. Vendors

@import 
	'vendors/normalize',
	'vendors/include-media';

//3. Base
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

//4. Layout
@import
	'layout/header',
	'layout/footer';

//5. Components
// @import
//   'components/bouncing_arrow',
// 	'components/button',
// 	'components/call_to_action',
// 	'components/card',
// 	'components/icon_blurb',
// 	'components/navbar',
// 	'components/page_header',
// 	'components/progress_bar',
// 	'components/social_icon';
	
// //6. Page
// @import
// 	'pages/about',
// 	'pages/home',
// 	'pages/projects',
// 	'pages/project_page',
// 	'pages/resume';

//7. Themes