@import '../../styles/abstracts/_variables.scss';

.ticketbox-container {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.ticketbox-btn--main {
    background-color: $theme-green;
    color: white;
    font-size: 60px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: $box-shadow;
    text-align: center;
    font-weight: 900;
    cursor: pointer;
}

/*
==========================
PLACEMENT OF MODALS
==========================
*/
.bug-suggestion-box,
.ticketbox-btn-section {
    position: absolute;
    right: 20px;
    bottom: 120px;
    background-color: white;
    box-shadow: $box-shadow;
    padding: 30px;
    width: 380px;
}
/*
==========================
TICKETBOX MAIN BTN SELECTION
==========================
*/
.ticketbox-btn-section {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.ticketbox-btn--container {
    text-align: center;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}
.ticketbox-btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: none;
    box-shadow: $box-shadow;
}
.ticketbox-btn--text {
    color: $dark-grey;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    width: 100px;
}
/*
==========================
BUG & SUGGESTION FORMS
==========================
*/
// .bug-suggestion-box {
//     /
// }