@import '../../styles/abstracts/_variables.scss';

.ticketbox-container {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: $z-modal;
}

.ticketbox-btn--main {
    background-color: $theme-green;
    color: white;
    font-size: 60px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: $box-shadow;
    text-align: center;
    font-weight: 900;
    cursor: pointer;
}

/*
==========================
PLACEMENT OF MODALS
==========================
*/
.bug-suggestion-box,
.ticketbox-btn-section {
    position: absolute;
    right: 20px;
    bottom: 120px;
    background-color: white;
    box-shadow: $box-shadow;
    padding: 30px;
    width: 380px;
    max-height: calc(100vh - 200px);	
    overflow-y: auto;
}
/*
==========================
TICKETBOX MAIN BTN SELECTION
==========================
*/
.ticketbox-subcontainer {
    .form-back-btn {
        float: left;
        @include system-button($grey, $med-grey);
        width: 100px;
        margin-top: 20px;
        cursor: pointer;
    }
     div::-webkit-scrollbar {	
        width: 14px;	
    }	
 	
    div::-webkit-scrollbar-track {	
        -webkit-box-shadow: inset 0 0 6px $dark-grey;	
    }	
    	
    div::-webkit-scrollbar-thumb {	
        background-color: darkgrey;	
        outline: 1px solid slategrey;	
    }
}
.ticketbox-btn-section {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-gap: 15px;
}

.ticketbox-btn--container {
    text-align: center;
    cursor: pointer;
    transition: all .075s ease-out;
    display: grid;
    justify-items: center;
    &:hover {
      transform: scale(1.1);
    }
    &.disabled {
      cursor: default;
      transform: none;
    }
  }
  .ticketbox-btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: none;
    box-shadow: $box-shadow;
    cursor: pointer;
    &.disabled {
      cursor: default;
    }
}
.ticketbox-btn--text {
    color: $dark-grey;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    width: 100px;
    margin-top: 10px;
}
/*
==========================
BUG & SUGGESTION FORMS
==========================
*/
.box-color {
    width: calc(100% + 60px);
    margin-left: -30px;
    height: 50px;
    margin-top: -30px;
    margin-bottom: 20px;
}

.color--suggestion {
    background-color: $suggestion;
}
.color--bug {
    background-color: $bug;
}
.color--help {
    background-color: $help;
}
.box-icon {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}
/*
==========================
HELP TICKET
==========================
*/
.help-btns--container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    width: 100%;
    text-align: center;
    justify-items: center; 
}
.help-page-search-container {
    .form-btn {
        width: 100px;
        margin-top: 26px;
        cursor: pointer;
    }
    .form-question {
        text-align: center;
        margin-top: 40px;
    }
    .form-input {
        width: 75%;
        display: inline-block;
        margin-top: 0px;
        height: 45px;
        color: $dark-grey;
        &::placeholder {
            color: $grey;
        }
    }
    .hline {
        margin-top: 40px;
    }
}
.form-btn-submit--icon {
    display: inline-block;
    background-color: $theme-green;
    color: white;
    height: 45px;
    border: 1px solid $theme-green;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    width: 25%;
    cursor: pointer;
    box-shadow: $box-shadow;
}
/*
==========================
FORM STYLING
==========================
*/
.ticketbox-form {
    .form-QA {
        margin-bottom: 20px;
    }
    .form-question {
        text-transform: uppercase;
        letter-spacing: 1.3px;
        color: $grey;
        padding-bottom: 5px;
        font-size: 12px;
    }
    .form-input,
    .form-text-area  {
        padding: 10px;
    }

    .form-dropdown {
        text-transform: capitalize;
    }
    .form-btn {
      float: right;
      cursor: pointer;
    }
    .form-btn--disabled {
        float: right;
        cursor: default;
    }
    .form-subtext--link {	
        display: block;	
        color: $theme-green--light;	
        text-decoration: underline;	
        padding-top: 10px;	
    }	
    .form-subtext {	
        margin-top: 5px;	
    }
}
.back-btn--centered {
    @include system-button($grey, $med-grey);
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
}

/*
==========================
ERROR
==========================
*/
.ticketbox-error-msg {
    background-color: $palest-grey;
    padding: 10px;
    margin: 20px 0px;
    letter-spacing: initial;
    text-align: left;
}
.ticketbox-subtext {
    font-weight: 500;
    line-height: 20px;
}
/*
==========================
SUCCESS FORM
==========================
*/
.ticketbox-success {
    text-align: center;
    color: $dark-grey;
    letter-spacing: 1.5px;
    line-height: 35px;
    font-weight: 600;
    a {
        color: $theme-green--hover;
        text-transform: capitalize;
        font-weight: 400;
        border-bottom: 1px solid $theme-green--hover;
        padding-bottom: 5px;
    }
    .ticketbox-success--subtext {	
        font-weight: 400;	
        line-height: 20px;	
    }
}