@import '../../../styles/abstracts/_variables.scss';

.github-activity-container {
    background-color: $palest-grey;
    padding: 20px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 20px;
    text-transform: none;
    margin-bottom: 20px;
}
.github-activity-icon {
    width: 40px;
    height: 40px;
    grid-column: 1 / 2;
    margin: 0 auto;
    align-self: center;
}
.github-activity-text {
    grid-column: 2 / -1;
}

.github-activity-title, 
.github-activity-subtitle {
    font-size: 14px;
    line-height: 28px;
}

.github-activity-title {
    color: $dark-grey;
}

.github-activity-subtitle {
    color: $grey;
}