@import '../../styles/abstracts/_variables.scss';

.edit-icon {
  display: block;
  position: relative;
  float: right;
  margin-top: 40px;
  border: none;
  background-color: white;
  color: $grey;
  &:hover {
    color: $theme-green--hover;
  }
}