@import '../../styles/abstracts/_variables.scss';

//TODO: use variables and mixins where possible

.user-profile-container {
  max-width: $max-width;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "i i v v v";
  margin: 0 auto;
  margin-top: 100px;
  padding: 50px 100px;
  grid-gap: 100px;
}

.user-profile {
  grid-area: i;
}

.user-voyages {
 grid-area: v;
 justify-self: center;
}

.user-voyage-title {
    color: $grey;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300;
    margin-left: 5px;
}
.user-voyage {
  margin-bottom: 50px;
}

/*
==========================
MEDIA QUERY
==========================
*/
@media (max-width: 1000px) {
  .user-profile-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "i"
                          "v";
    margin-top: 100px;
    padding: 0px;
    grid-gap: 100px;
  }
}