@import '../../styles/abstracts/_variables.scss';

.user-profile-background-color {
  background-color: white;
  padding: 20px;
}
.user-profile-container {
  background: white;
  max-width: $max-width;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "i i v v v";
  margin: 0 auto;
  margin-top: 150px;
  grid-gap: 100px;
  min-height: 100vh;
  margin-bottom: 100px;
  // padding: 20px;
}

.user-profile {
  grid-area: i;
}

.user-voyages {
  width: 100%;
 grid-area: v;
 justify-self: center;
}

.user-voyage-title {
    @include portal-subcategory;
    margin-left: 5px;
    margin-bottom: 10px;
}
.user-voyage {
  margin-bottom: 50px;
}

.no-data-card {
  display: block;
  color: $grey;
  background-color: $palest-grey;
  box-shadow: $box-shadow;
  padding: 40px 20px;
  width: 100%;
  // border-radius: $border-radius;
  font-size: 20px;
  text-align: center;
  border: 1px solid $light-grey;
}

/*
==========================
MEDIA QUERY
==========================
*/
@media (max-width: 1000px) {
  .user-profile-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "i"
                          "v";
    margin-top: 100px;
    padding: 0px;
    grid-gap: 100px;
  }
  .user-profile-container-personal {
    margin: 0 auto;
    max-width: 500px;
  }
  .user-voyage {
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-bottom: 100px;
  }
  .user-voyage-title {
    text-align: center;
  }
}

// PROJECT CARD //
.project-card__container {
  width: 710px;
  // min-height: 260px;
  box-shadow: $box-shadow;
  display: grid;
  margin-bottom: 10px;
  grid-template-columns: repeat(2, auto);
  grid-gap: 20px;
  background-color: white;
}

.project-img {
  width: 325px;
  object-fit: cover;
  // TODO: Crop
}

.project-info__container {
  font-size: 14px;
  width: 385px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
  margin-bottom: 10px;
}

.project-info__label {
  grid-column: 1 / 2;
  font-size: 14px;
  color: $lighter-grey;
  text-transform: uppercase;

}
.project-info__data {
  grid-column: 2 / -1;
  font-size: 14px;
  color: $dark-grey;
  max-height: 100px;
  align-items: start;
}

.tier-icon {
  color: $health-green;
  border: 1px solid $health-green;
  padding: 5px 7px;
  font-size: 12px;
  text-transform: uppercase;
}