@import '../../styles/abstracts/_variables.scss';

/**
 * TODO:
 * 1. use variables and mixins where possible
 * 2. update class name to reflect component
 **/

.user-profile-container-personal {
  color: #757575;
  min-width: 300px;
  display: flex;
  flex-direction: column;

  img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
}

.user {
  ul {
    list-style: none;
    padding: 0;

    span {
      margin-right: 7px;
    }
  }
}

.user-sidebar-subcategory {
  @include portal-subcategory;
}

.photobox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

  p {
    margin: 0;
  }

  p:nth-of-type(1) {
    margin-top: 10px;
    font-weight: bold;
  }
}

.user-background,
.user-coding-history,
.user-interests, 
.user-links,
.user-skills {
  @include portal-description;
  margin-top: 20px;
  border-top: 1px solid $light-grey;
}

.user-links {
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 1em 0 0;
    color: #95989A;
    a {
      text-decoration: none;
      color: #D9D9D9;
    }
  }
}

.user-skills {
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    display: inline-block;
    border: 1px solid $grey;
    padding: 0.3em 1em;
    margin: 0.2em 0.3em 0.2em 0;
  }
}

.skill-modal-background {
  @include transparent-background;
}
.skill-modal {
  display: grid;
  z-index: 100;
  width: 600px;
  padding: 20px;
  background-color: white;
  margin: 0 auto;
  margin-top: 100px;
}