//----------------------------------------------
//              Basic Styles
//----------------------------------------------

/**
*	Box Model Setup
*/

* {
  outline: 1px dotted orange;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
button {
  color: color-list("text-dark");
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: 1.6;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

button {
  &:hover {
    cursor: pointer;
  }
}

.App {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#modal-root {
  position: relative;
  z-index: map-get($z-indexes, modal);
}

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  > * {
    margin: auto;
  }
}

.modal-peek {
  // position: relative;
  z-index: $z-modal-peek !important;
}
