//----------------------------------------------
//              Basic Styles
//----------------------------------------------

/**
*	Box Model Setup
*/

html {
  box-sizing: border-box;
  
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
button {
  color: color-list("text-dark");
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: 1.6;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: white;
}

button {
  &:hover {
    cursor: pointer;
  }
}

.App {
  display: flex;
  flex-direction: column;
  align-content: center;
}
