@import '../../styles/abstracts/_variables.scss';

.project-portal {
  // TODO: Remove header positioning property
  padding-top: 64px + 21px; // to account for header
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  background-color: white;
 
}
/*
==========================
BANNER WTIH PROJECT TITLE
& ELEVATOR PITCH
==========================
*/
.project-portal__banner {
  width: 100vw;
  transform:translateY(-22px); // to account for header
  justify-self: center;
  text-align: center;
  color: #ffffff;
  min-height: 200px;
  padding-top: 30px;
  background: linear-gradient(to right , #3b3c62,#74d6b1);
}
/*
==========================
TOOLBAR WITH PROJECT EDIT
& PROJECT SUBMIT BUTTONS
==========================
*/
.project-portal__toolbar {
  grid-column: 1 / -1;
  justify-self: end;
  a {
    margin-left: 15px;
    text-decoration: none;
    border-radius: 20px;
    padding: 5px 10px;
    color: #ffffff;
    background-color: $light-purple;
  }
  span {
    margin-right: 0.5em;
  }
}
/*
==========================
OVERALL IMAGE CONTAINER
==========================
*/
.project-image-container {
  display: grid;
  grid-template-areas: "image image image image image image image-carousel image-carousel image-carousel";
  grid-template-columns: repeat(9, 1fr);
  height: 500px;
  overflow-x: hidden;
}
/*
==========================
IMAGE-CAROUSEL (PREVIEW)
==========================
*/
.project-portal__preview-color {
  grid-area: image-carousel;
  background-color: $pale-grey;
}
.project-portal__preview {
  width: 400px;
  margin-left: 0px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  overflow-y: scroll;
  padding: 30px;
  height: 500px;
}
.project-portal__slide {
  width: 95%;
  margin: 0 auto;
}

.project-portal__img--preview {
  width: 100%;
  height: 85px;
  object-fit: cover;
  background-color: white;
  margin-top: 10px;
  box-shadow: $box-shadow;
}
.project-portal__caption--preview {
  font-size: 12px;
  text-align: center;
  color: $dark-grey;
  margin-top: -4px;
}
/*
==========================
BUTTONS
==========================
*/
.project-buttons-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  grid-gap: 10px;
}
.project-buttons {
  @include system-button($theme-green, $theme-green--hover);
  width: 100%;
}

/*
==========================
OPEN IMAGE MODAL BTN
==========================
*/
.project-btn {
  @include system-button($theme-green, $theme-green--hover);
  grid-column: 1 / -1;
  margin: 0 auto;
  height: 40px;
}
/*
==========================
UPLOAD IMAGE BTN
==========================
*/
.project-upload-image-btn {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
  z-index: -1;
}
.project-upload-image-btn + label {
  color: white;
  background-color: $theme-green;
  text-transform: uppercase;
  grid-column: 1 / -1;
  padding: 10px 30px;
  height: 40px;
  border-radius: $border-radius;
  cursor: pointer;
  box-shadow: $box-shadow;
  &:hover{
    background-color: $theme-green--hover;
  }
  margin: 0 auto;
  margin-bottom: 20px;
}
/*
==========================
UPLOAD IMAGE MODAL
==========================
*/ 
.project-image-upload-background {
  @include transparent-background;
}
.project-image-upload-container {
  display: block;
  position: absolute;
  z-index: 110;
  width: 460px;
  left: calc(50% - 230px);
  background-color: white;
  border-radius: 20px;
  box-shadow: $box-shadow-dark;
  margin: 0 auto;
  margin-top: calc(50vh - 100px);
  margin-bottom: 100px;
  padding: 20px;
}
/*
==========================
MAIN IMAGE
==========================
*/
.project-portal__main-color {
  grid-area: image;
  background-color: $palest-grey;
  width: 100%;
}
.project-portal__main-image {
  margin: 0 auto;
  width: 720px;
  height: 100%;
  margin-right: 50px;
}
.project-portal__slide--main {
  text-align: center;
  height: 500px;
}
.project-portal__img--main {
  margin-top: 20px;
  width: 650px;
  height: 88%;
  object-fit: cover;
  box-shadow: $box-shadow;
}
.project-portal__caption--main {
  color: $dark-grey;
  margin-top: -5px;
}
/*
==========================
PROJECT INFO CONTAINER
==========================
*/
.project-info-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "description description cards";
  grid-gap: 40px;
  max-width: $max-width;
  margin: 0 auto;
}
/*
==========================
CARDS (PROJECT SIDEBAR)
==========================
*/
.project-side-panel {
  grid-area: cards;
}

.project-subcategory-title {
  @include portal-subcategory;
}
.project-subcategory {
  margin-bottom: 40px;
}
.project-side-panel--hline {
  border-top: 1px solid $light-grey;
}
.project-portal__external-links {
  grid-column: 1 / -1;
}
/*
==========================
TAGS
==========================
*/
.project-tags {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  color: $dark-grey;
  border: 1px solid $grey;
  padding: 5px 10px;
}
/*
==========================
TEAM / USER
==========================
*/
.project-team-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: start;
  grid-gap: 10px;
}
.project-portal__profile {
  color: $dark-grey;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
}
.project-portal__user-avatar {
  width: 75px;
  height: 75px;
  box-shadow: $box-shadow;
  margin: 0 auto;
  text-align: center;
  border-radius: 50%;
}
.project-portal__user-username {
  text-align: center;
}

/*
==========================
PROJECT DESCRIPTION
==========================
*/
.project-portal__about-container {
  grid-area: description;
}
.project-portal__about {
  background-color: white;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  padding: 20px;
}

.project-portal__edit-button {
  @include system-button--sub($theme-green, $theme-green--lightest);
  width: 120px;
}

.project-portal__positioning-1  {
  margin: 0 auto;
  margin-right: 0px;
  margin-bottom: 20px;
}
.project-portal__edit-button--text {
  // display: inline-block;
  text-align: center;
}
.project-portal__edit-button--img {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

// .project-portal__edit-form {
//   position: fixed;
//   background: rgba(0, 0, 0, 0.3);
//   width: 100vw;
//   height: 100vh;
//   top: 0;
//   right: 0;
//   z-index: 9999;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   form {
//     padding: 20px 50px;
//     width: 540px;
//     background: white;
//   }

//   div {
//     margin-bottom: 20px;
//   }

//   h2 {
//     text-transform: uppercase;
//     margin: 0;
//     font-size: 0.9em;
//     font-weight: 400;
//     color: $med-grey;
//   }

//   textarea {
//     width: 100%;
//     border: 1px solid $light-grey;
//     color: $darker-grey;
//     min-height: 100px;
//   }

//   input {
//     width: 100%;
//     border: 1px solid $light-grey;
//     color: $darker-grey;
//   }
// }